<!DOCTYPE html>
<html data-color-mode="light" data-light-theme="light">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags("app") }}
    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags("app") }}
  </head>
  <body>
    <header>
      <h1>GingSite</h1>
      {% if is_granted('ROLE_USER') %}<h4>{{ app.user.name }}</h4>{% endif %}
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
